<h1>Add a new product category</h1>

<% products = Products.all %>
<% product_list = [] %>
<% product.each do |p| %>
  <% product_list << p %>
<% end %>

<% categories = Category.all %>
<% category_list = [] %>
<% categories.each do |p| %>
  <% category_list << p %>
<% end %>


<%= simple_form_for [@product_category] do |f| %>
  <%= f.select(:product, [product_list] %>
  <%= f.select(:category, [category_list] %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>



